* {
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    font-size: 20px;
}
header {
    display: flex;
    padding: 5px;
    text-align: center;
    background-color: #24292f;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.align-left {
    padding-left: 40px;
    width: 50%;
    text-align: left;
}
.align-right {
    padding-right: 40px;
    width: 50%;
    text-align: right;
}
.no-dots {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}
ul > li {
    display: inline;
    margin: 20px;
}
ul > li > a {
    color: white;
    text-decoration: none;
}
ul > li > a:hover {
    color: gray;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#center-contacts {
    text-align: center;
}